[submodule "src/ig_lio"]
	path = src/ig_lio
	url = https://github.com/zijiechenrobotics/ig_lio.git
[submodule "src/ig-lio-to-hdmapping/src/3rdparty/LASzip"]
	path = src/ig-lio-to-hdmapping/src/3rdparty/LASzip
	url = https://github.com/LASzip/LASzip.git
[submodule "src/livox_ros_driver"]
	path = src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
